body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
    display: flex;
    justify-content: space-between; /* Pushes h1 to the left and label to the right */
    align-items: baseline;
    width: 100%; /* Ensure header takes full width */
    padding: 0 1em; /* Optional: Add some padding to the sides */
}

header label{
    margin-left: auto;
    position: relative;
}

input[type="range"] {
    width: calc(110% - 2em); /* Set the width of the slider */
    margin-right: 1em; /* Add some margin to the right */
}

#selectedTime {
    display: block;
    position: absolute; /* Position it absolutely within the label */
    right: 0; /* Align it to the right end */
    top: 120%; /* Adjust the vertical position */
    transform: translateY(-50%);
}

#anyTime {
    display: block;
    color: #888; /* Lighter color */
    font-style: italic; /* Italic style */
    position: absolute; /* Position it absolutely within the label */
    right: 0; /* Align it to the right end */
    top: 170%; /* Center it vertically */
    transform: translateY(-50%);
}

  #tooltip {
    position: absolute;
    background: white; 
    border: 1px solid #ff7e5f; /* Vibrant border color */
    padding: 10px;
    border-radius: 8px; /* More rounded corners */
    pointer-events: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
    font-size: 14px; /* Slightly larger font */
    font-family: 'Arial', sans-serif; /* Change font */
    color: black; /* White text color */
    z-index: 10;
    /* transition: opacity 0.3s ease, transform 0.3s ease; Smooth transition for opacity and transform */
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Slightly move up */
}

#tooltip.visible {
    opacity: 1; /* Show tooltip */
    transform: translateY(0); /* Move to original position */
}